<% content_for :page_title, "Check your answers" %>
<% content_for :back_link_url, back_history_path(origin: true, default: teacher_interface_application_form_path) %>

<span class="govuk-caption-l"><%= I18n.t("application_form.tasks.sections.about_you") %></span>
<h1 class="govuk-heading-l">Check your answers</h1>

<%= render "shared/application_form/passport_document_summary",
           application_form: @application_form,
           changeable: true %>

<%= govuk_button_link_to "Continue", teacher_interface_application_form_path %>
