<h1 class="govuk-heading-l">Resend unlock instructions</h1>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.govuk_email_field :email, autofocus: true, autocomplete: "email", label: { text: "Email" } %>
  <%= f.govuk_submit "Resend unlock instructions" %>
<% end %>

<%= render "staff/shared/links" %>
