<% content_for :page_title, "Sign up" %>

<h1 class="govuk-heading-l">Sign up</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.govuk_email_field :email, autofocus: true, autocomplete: "email", label: { text: "Email" } %>
  <%= f.govuk_submit "Sign up" %>
<% end %>

<%= render "teachers/shared/links" %>
