<% content_for :page_title, "Review verifications" %>
<% content_for :back_link_url, assessor_interface_application_form_path(@application_form) %>

<h1 class="govuk-heading-xl">Review verifications</h1>

<p class="govuk-body govuk-!-padding-bottom-2">
  The following verification tasks have been flagged for review:
</p>

<%= render(TaskList::Component.new(
  if @professional_standing_request.present?
    [
      {
        title: "LoPS",
        items: [
          {
            name: region_teaching_authority_name(@application_form.region),
            link: [:review, :assessor_interface, @application_form, @assessment, :professional_standing_request],
            status: @professional_standing_request.review_status,
          }
        ],
      }
    ]
  end
)) %>

<div class="govuk-!-padding-top-3">
  <%= govuk_button_link_to "Back to overview", [:assessor_interface, @application_form] %>
</div>
