<% content_for :page_title, title_with_error_prefix("Send for review", error: @form.errors.any?) %>
<% content_for :back_link_url, verify_assessor_interface_application_form_assessment_reference_request_path %>

<%= form_with model: @form, url: [:verify_failed, :assessor_interface, @application_form, @assessment, @reference_request] do |f| %>
  <%= f.govuk_error_summary %>

  <h1 class="govuk-heading-xl">Send for review</h1>

  <p class="govuk-body">You have opted to send this reference for review.</p>

  <%= f.govuk_text_area :note %>

  <%= render "shared/assessor_interface/continue_cancel_button", f: %>
<% end %>
