<% content_for :page_title, "Verify references" %>
<% content_for :back_link_url, back_history_path(default: assessor_interface_application_form_path(@application_form)) %>

<%= render "shared/assessor_header", title: "Verify references", application_form: @application_form %>

<p class="govuk-body">
  This page shows the references that have been requested for this application.
  You can review those that have the status RECEIVED.
</p>

<%= render TaskList::Component.new([
  {
    title: "References to verify",
    indentation: false,
    items: @reference_requests.map do |reference_request|
      {
        name: work_history_name_and_duration(reference_request.work_history),
        link: [:verify, :assessor_interface, @application_form, @assessment, reference_request],
        status: reference_request.status
      }
    end
  }
]) %>

<% if @assessment.enough_reference_requests_verify_passed? || @assessment.all_reference_requests_verified? %>
  <%= govuk_button_link_to "Continue", [:assessor_interface, @application_form] %>
<% end %>
