<% content_for :page_title, "Verify references" %>
<% content_for :back_link_url, back_history_path(default: assessor_interface_application_form_path(@application_form)) %>

<%= render "shared/assessor_header", title: "Verify references", application_form: @application_form %>

<p class="govuk-body">
  This page shows the references that have been requested for this application.
  You can review those that have the status RECEIVED.
</p>

<h2 class="govuk-heading-m">References to verify</h2>

<%= govuk_task_list do |task_list|
  @reference_requests.each do |reference_request|
    task_list.with_item(
      title: work_history_name_and_duration(reference_request.work_history),
      href: [:verify, :assessor_interface, @application_form, @assessment, reference_request],
      status: render(StatusTag::Component.new(reference_request.status))
    )
  end
end %>

<%= govuk_button_link_to "Back to overview", [:assessor_interface, @application_form] %>
