!app/assets/builds/.keep
!log/.keep
!tmp/.keep
!tmp/pids/
!tmp/pids/.keep
*.log
.bundle
.env.development.local
.env.local
.env.production.local
.env.test.local
app/assets/builds/*
config/master.key
dump.rdb
log/*
node_modules
public/assets
tmp/*
tmp/pids/*
storage/*

# Temporary binaries
bin/fetch_config.rb
bin/konduit.sh
bin/terrafile

# Terraform
*.tfstate
.terraform
terraform/*token*
terraform/*/vendor
