*.enc
*.ico
*.key
*.lock
*.log
*.png
*.slim
*.svg
*.txt
*.woff*
*.min.*
.bundle
.gitattributes
.gitignore
.keep
.prettierignore
.rladr
.rspec
.tool-versions
Dockerfile
LICENCE
Procfile
Procfile.*
app/assets/builds
bin/dev
data
db/*.sqlite3
db/schema.rb
log
public/assets
storage
tmp
vendor
