<% content_for :page_title, t(".heading") %>
<% content_for :back_link_url, assessor_interface_application_form_path(@application_form) %>

<h1 class="govuk-heading-xl"><%= t(".heading") %></h1>

<p class="govuk-body">
  This screen shows the email that the applicant will see, to tell them you’ve contacted the references they provided.
</p>

<%= render(PreviewMailer::Component.new(
  mailer_class: TeacherMailer,
  name: :references_requested,
  application_form: @application_form,
  reference_requests: [OpenStruct.new(
    expires_at: Time.zone.now + 6.weeks,
  )],
)) %>

<div class="govuk-button-group">
  <%= govuk_button_to "Send emails", [:assessor_interface, @application_form, @assessment, :assessment_recommendation_verify], method: :put %>
  <%= govuk_link_to "Cancel", [:assessor_interface, @application_form] %>
</div>
