<% content_for :page_title, t(".heading") %>
<% content_for :back_link_url, assessor_interface_application_form_path(@application_form) %>

<h1 class="govuk-heading-xl"><%= t(".heading") %></h1>

<p class="govuk-body">This screen shows the email that each reference will see.</p>

<p class="govuk-body">When they follow the link, they’ll be taken to a page that will ask them to verify what the applicant has told us.</p>

<p class="govuk-body govuk-!-font-weight-bold">The applicant will also receive an email to tell them you’ve contacted their references. You can see that on the next screen.</p>

<%= render(PreviewMailer::Component.new(
  mailer_class: RefereeMailer,
  name: :reference_requested,
  reference_request: OpenStruct.new(
    slug: "reference-request",
    work_history: @application_form.work_histories.first,
    expires_at: Time.zone.now + 6.weeks,
    assessment: @assessment,
    application_form: @application_form
  ),
)) %>

<div class="govuk-button-group">
  <%= govuk_button_link_to "Continue", [:preview_teacher, :assessor_interface, @application_form, @assessment, :assessment_recommendation_verify] %>
  <%= govuk_link_to "Cancel", [:assessor_interface, @application_form] %>
</div>
