<% content_for :page_title, "Review verifications" %>
<% content_for :back_link_url, assessor_interface_application_form_path(@application_form) %>

<h1 class="govuk-heading-xl">Review verifications</h1>

<p class="govuk-body govuk-!-padding-bottom-2">
  The following verification tasks have been flagged for review:
</p>

<% if @professional_standing_request.present? %>
  <h2 class="govuk-heading-m">LoPS</h2>
  <%= govuk_task_list(id_prefix: "lops") do |task_list|
    task_list.with_item(
      title: region_teaching_authority_name(@application_form.region, context: :assessor).upcase_first,
      href: [:review, :assessor_interface, @application_form, @assessment, :professional_standing_request],
      status: render(StatusTag::Component.new(@professional_standing_request.review_status)),
    )
  end %>
<% end %>

<% if @qualification_requests.present? %>
  <h2 class="govuk-heading-m">Qualifications</h2>
  <%= govuk_task_list(id_prefix: "qualifications") do |task_list|
    @qualification_requests.each do |qualification_request|
      task_list.with_item(
        title: qualification_title(qualification_request.qualification),
        href: [:review, :assessor_interface, @application_form, @assessment, qualification_request],
        status: render(StatusTag::Component.new(qualification_request.review_status)),
      )
    end
  end %>
<% end %>

<% if @reference_requests.present? %>
  <h2 class="govuk-heading-m">References</h2>
  <%= govuk_task_list(id_prefix: "references") do |task_list|
    @reference_requests.each do |reference_request|
      task_list.with_item(
        title: work_history_name(reference_request.work_history),
        href: [:review, :assessor_interface, @application_form, @assessment, reference_request],
        status: render(StatusTag::Component.new(reference_request.review_status)),
      )
    end
  end %>
<% end %>

<%= govuk_button_link_to "Back to overview", [:assessor_interface, @application_form] %>
