<% content_for :page_title, "Review verifications" %>
<% content_for :back_link_url, back_history_path(default: assessor_interface_application_form_path(@application_form)) %>

<h1 class="govuk-heading-xl">Review verifications</h1>

<p class="govuk-body govuk-!-padding-bottom-2">
  The following verification tasks have been flagged for review:
</p>

<%= render(TaskList::Component.new([
  if @professional_standing_request.present?
    {
      title: "LoPS",
      indentation: false,
      items: [
        {
          name: region_teaching_authority_name(@application_form.region, context: :assessor).upcase_first,
          link: [:review, :assessor_interface, @application_form, @assessment, :professional_standing_request],
          status: @professional_standing_request.review_status,
        }
      ],
    }
  end,
  if @consent_requests.present? || @qualification_requests.present?
    {
      title: "Qualifications",
      indentation: false,
      items: @consent_requests.map do |consent_request|
        {
          name: qualification_title(consent_request.qualification),
          link: [:review, :assessor_interface, @application_form, @assessment, consent_request],
          status: consent_request.review_status,
        }
      end + @qualification_requests.map do |qualification_request|
        {
          name: qualification_title(qualification_request.qualification),
          link: [:review, :assessor_interface, @application_form, @assessment, qualification_request],
          status: qualification_request.review_status,
        }
      end
    }
  end,
  if @reference_requests.present?
    {
      title: "References",
      indentation: false,
      items: @reference_requests.map do |reference_request|
        {
          name: work_history_name(reference_request.work_history),
          link: [:review, :assessor_interface, @application_form, @assessment, reference_request],
          status: reference_request.review_status,
        }
      end
    }
  end
].compact)) %>

<div class="govuk-!-padding-top-3">
  <%= govuk_button_link_to "Back to overview", [:assessor_interface, @application_form] %>
</div>
