<% content_for :page_title, "Check your answers before submitting" %>
<% content_for :back_link_url, back_history_path(origin: true, default: teacher_interface_application_form_further_information_request_path(@view_object.further_information_request)) %>

<h1 class="govuk-heading-xl">Check your answers before submitting</h1>

<%= render(CheckYourAnswersSummary::Component.new(
  id: "check-your-answers",
  model: @view_object.further_information_request,
  title: t(".check_your_answers"),
  fields: @view_object.check_your_answers_fields
)) %>

<% if @view_object.can_submit? %>
  <h3 class="govuk-heading-m">Submitting your further information</h3>
  <p class="govuk-body">By selecting the ‘Submit your response’ button you confirm that, to the best of your knowledge, the details you’ve provided are correct.</p>
  <p class="govuk-body">You will not be able to change your response, add new documents or delete anything once you submit it.</p>
  <%= govuk_button_to "Submit your response", teacher_interface_application_form_further_information_request_path(@view_object.further_information_request), method: :patch %>
<% end %>
