<% content_for :page_title, "Apply for qualified teacher status (QTS)" %>
<% content_for :back_link_url, teacher_interface_application_form_further_information_request_path(@view_object.further_information_request) %>

<h1 class="govuk-heading-xl">
  Check your answers before submitting your application
</h1>
