<% content_for :page_title, "Apply for qualified teacher status (QTS)" %>
<% content_for :back_link_url, teacher_interface_application_form_further_information_request_path(@view_object.further_information_request) %>

<h1 class="govuk-heading-xl">
  Check your answers before submitting your application
</h1>

<%= render(CheckYourAnswersSummary::Component.new(
  model: @view_object.further_information_request,
  title: t(".check_your_answers"),
  fields: @view_object.check_your_answers_fields
)) %>

<% if @view_object.can_submit? %>
  <h3 class="govuk-heading-m">Submitting your further information</h3>
  <p class="govuk-body">By selecting the ‘Submit application button’ you confirm that, to the best of your knowledge, the details you’ve provided are correct.</p>
  <%= govuk_button_to "Submit your application", teacher_interface_application_form_further_information_request_path(@view_object.further_information_request), method: :patch %>
<% end %>
