<% content_for :page_title, "Apply for qualified teacher status (QTS)" %>
<% content_for :back_link_url, teacher_interface_application_form_path %>

<h1 class="govuk-heading-l">Apply for qualified teacher status (QTS)</h1>

<ol class="app-task-list">
  <li>
    <h2 class="app-task-list__section">
      Further information requested
    </h2>

    <ul class="app-task-list__items">
      <% @view_object.task_items.each do |item| %>
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <%= link_to item[:text], item[:href], aria: { describedby: "#{item[:key]}-status" } %>
          </span>

          <%= render(ApplicationFormStatusTag::Component.new(
            **item.slice(:key, :status).merge(class_context: "app-task-list")
          )) %>
        </li>
      <% end %>
    </ul>
  </li>
</ol>

<%= govuk_button_link_to "Save and sign out", destroy_teacher_session_path, secondary: true %>
