<% content_for :page_title, "Apply for qualified teacher status (QTS)" %>
<% content_for :back_link_url, back_history_path(default: teacher_interface_application_form_path) %>

<h1 class="govuk-heading-l">Apply for qualified teacher status (QTS)</h1>

<h2 class="govuk-heading-m">Further information requested</h2>

<%= govuk_task_list do |task_list|
  @view_object.task_list_items.each do |item|
    task_list.with_item do |row|
      row.with_title(text: item[:title], href: item[:href])
      row.with_status(text: render(StatusTag::Component.new(item[:status])), classes: "app-white-space-nowrap")
    end
  end
  task_list.with_item do |row|
    if @view_object.can_check_answers?
      row.with_title(text: "Check your answers before submitting", href: [:edit, :teacher_interface, :application_form, @view_object.further_information_request])
      row.with_status(text: govuk_tag(text: "Not started", colour: "grey"))
    else
      row.with_title(text: "Check your answers before submitting")
      row.with_status(text: govuk_tag(text: "Cannot start", colour: "grey"))
    end
  end
end %>

<% if FeatureFlags::FeatureFlag.active?(:gov_one_applicant_login) %>
  <%= govuk_button_link_to t("teacher_interface.application_forms.show.draft.save"), logout_uri, secondary: true %>
<% else %>
  <%= govuk_button_link_to t("teacher_interface.application_forms.show.draft.save"), destroy_teacher_session_path, secondary: true %>
<% end %>
