<% content_for :page_title, "Apply for qualified teacher status (QTS)" %>
<% content_for :back_link_url, back_history_path(default: teacher_interface_application_form_path) %>

<h1 class="govuk-heading-l">Apply for qualified teacher status (QTS)</h1>

<h2 class="govuk-heading-m">Further information requested</h2>

<%= govuk_task_list do |task_list|
  @view_object.task_list_items.each do |item|
    task_list.with_item do |row|
      row.with_title(text: item[:title], href: item[:href], classes: "max-w-500")
      row.with_status(text: render(StatusTag::Component.new(item[:status])))
    end
  end
end %>

<% if @view_object.can_check_answers? %>
  <p class="govuk-body"> Once you’ve checked your response on the next screen, you’ll be able to submit it. </p>
  <%= govuk_button_link_to t("teacher_interface.further_information_request.show.check"), [:edit, :teacher_interface, :application_form, @view_object.further_information_request] %>
<% end %>

<% if FeatureFlags::FeatureFlag.active?(:gov_one_applicant_login) %>
  <%= govuk_button_link_to t("teacher_interface.application_forms.show.draft.save"), logout_uri, secondary: true %>
<% else %>
  <%= govuk_button_link_to t("teacher_interface.application_forms.show.draft.save"), destroy_teacher_session_path, secondary: true %>
<% end %>
