<% content_for :page_title, "Apply for qualified teacher status (QTS)" %>
<% content_for :back_link_url, teacher_interface_application_form_path %>

<h1 class="govuk-heading-l">Further information required</h1>
