<h2 class="govuk-heading-m">Content changes to the eligible page (eligibility checker)</h2>

<h3 class="govuk-heading-s">Add additional information for sections:</h3>

<p class="govuk-body">Proof that you’re recognised as a teacher</p>
<p class="govuk-hint">Example: ‘TRCN will charge you a fee of ₦60,000 for providing the Letter of Professional standing. They’ll also need your QTS application reference number, as well as copies of your teaching documents.’</p>

<%= f.govuk_text_area :sanction_information, label: { text: 'Sanction Information' }, rows: 5 %>
<%= f.govuk_text_area :status_information, label: { text: 'Status Information' }, rows: 5 %>
