<h1 class="govuk-heading-l">Forgot your password?</h1>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.govuk_email_field :email, autofocus: true, autocomplete: "email", label: { text: "Email" } %>
  <%= f.govuk_submit "Send me reset password instructions" %>
<% end %>

<%= render "staff/shared/links" %>
