<p class="govuk-body">If your documents are not written in English, you must provide certified translations (at your own cost) for your:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>qualifications</li>
  <li>transcripts</li>
  <li>proof that you’re recognised as a teacher</li>
</ul>
<p class="govuk-body">You do not need translations for ID or change of name documents.</p>

<h3 class="govuk-heading-s">About certified translations</h3>

<p class="govuk-body">
  Translations must be carried out by a certified translator. They must state (on the translation document or on a separate certification page) that the translation is a true, accurate and correct rendering of the original document.
</p>

<p class="govuk-body">
  The translated document or certification page must also include the date of the translation, as well as the certified translator’s:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>name</li>
  <li>contact details</li>
  <li>signature</li>
  <li>official certification seal/stamp or ID number</li>
</ul>

<h3 class="govuk-heading-s">Finding a certified translator</h3>

<p class="govuk-body">
  We cannot recommend translation providers. You can find a professional translator through the <%= govuk_link_to "Institute of Translating and Interpreting (ITI)", "https://www.iti.org.uk/component/itisearch/?view=translators", new_tab: true %>. All listed translators have been certified by the ITI and are qualified to complete translations.
</p>

<p class="govuk-body">
  Alternatively, some universities may be able to provide certified translation. You could search for universities with a language department and contact them for advice.
</p>
