<p class="govuk-body">If your documents are not written in English, you must provide certified translations (at your own cost) for your:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>qualifications</li>
  <li>transcripts</li>
  <li>proof that you’re recognised as a teacher</li>
</ul>
<p class="govuk-body">You do not need translations for ID or change of name documents.</p>

<h3 class="govuk-heading-s">About certified translations</h3>
<p class="govuk-body">Translations must be carried out by a certified translator, who must state (on the document or a separate certification page) that the translation is a true, accurate and correct rendering of the original.</p>
<p class="govuk-body">Each one must include the date of the translation as well as the certified translator’s:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>signature</li>
  <li>name and contact details</li>
  <li>official certification seal/stamp or ID number</li>
</ul>

<h3 class="govuk-heading-s">Finding a certified translator</h3>
<p class="govuk-body">We cannot recommend translation providers. You may want to explore translators who are members of the <a href="http://www.iti.org.uk/component/itisearch/?view=translators" class="govuk-link" rel="noreferrer noopener" target="_blank">Institute of Translating and Interpretation (opens in a new tab)</a>. Sometimes a university’s language department can also help.</p>
