<p class="govuk-body">You must provide:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>passport (must not have expired)</li>
  <li>birth certificate</li>
  <li>national identity card that shows your date of birth and nationality (must not have expired)</li>
</ul>
<%= govuk_details(summary_text: "Has your name changed?") do %>
  <p class="govuk-body">
    If the name on your proof of identity is different from that on your other documents, 
    you need to provide evidence of your name change (for example, a marriage certificate or name change deed).
  </p>
<% end %>
