<p class="goxuk-body">
  You must hold a teaching qualification that’s equivalent to a UK ‘level 6’ or higher.
</p>

<p class="govuk-body">
  <%= govuk_link_to "Check you hold a qualification that’s equivalent to or higher than a level 6", "https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels" %>
</p>

<p class="govuk-body">
  If that qualification is equivalent to level 6, but it is <strong class="govuk-!-font-weight-bold">not</strong> a
  bachelor’s degree, you must also be able to provide evidence that you hold a separate bachelor’s degree.
<p>

<p class="govuk-body">
  We’ll need to understand the level to which your qualifications were focused on developing practical teaching skills.
</p>

<p class="govuk-body">
  For any qualifications you submit, you’ll need to provide:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>a certificate</li>
  <li>a transcript (or diploma supplement)</li>
</ul>

<%= govuk_details(summary_text: "What is a transcript?") do %>
  <p class="govuk-body">
    A transcript is a document from the institution where you studied. It lists all the modules or subjects you studied in each year, and the marks or grades you were awarded.
    Note that you must have completed all of your teaching qualification in <%= CountryName.from_country(region.country, with_definite_article: true) %>.
  </p>
<% end %>

<%= render "shared/teaching_qualification_information", region: %>
