<% content_for :page_title, "Check your uploaded consent documents" %>
<% content_for :back_link_url, back_history_path(default: teacher_interface_application_form_consent_requests_path) %>

<h1 class="govuk-heading-xl">Check your uploaded consent documents</h1>

<%= render(CheckYourAnswersSummary::Component.new(
  id: "check-your-answers",
  model: @assessment,
  title: "Your documents",
  fields: @view_object.check_your_answers_fields
)) %>

<% if @view_object.can_submit? %>
  <h2 class="govuk-heading-m">Submit your consent documents</h2>
  <p class="govuk-body">By selecting the ‘Submit’ button you confirm that, to the best of your knowledge, the details you’ve provided are correct.</p>
  <p class="govuk-body">You will not be able to change your response, add new documents, or delete anything once you submit.</p>
  <%= govuk_button_to "Submit", submit_teacher_interface_application_form_consent_requests_path %>
<% end %>
