<% failure_reasons.each do |failure_reason| %>
  <li>
    <p class="govuk-body">
      <%= t(failure_reason.key, scope: %i[assessor_interface assessment_sections failure_reasons as_statement]) %>
      <br />
      <span class="govuk-hint"><%= simple_format failure_reason.assessor_feedback %></span>
    </p>
  </li>
<% end %>
