<% content_for :page_title, "Thank you for submitting your request" %>

<h1 class="govuk-heading-xl">Thank you for submitting your request</h1>

<p class="govuk-body">Your help request for Apply for qualified teacher status (QTS) in England has now been submitted.</p>
<p class="govuk-body">You will receive a confirmation email with your ticket number.</p>
<p class="govuk-body"><%= govuk_link_to "Click here", root_path %> to go back to the homepage.</p>
