<% content_for :page_title, "Application" %>
<% content_for :back_link_url, @view_object.back_link_path %>

<h1 class="govuk-heading-xl">Application</h1>

<%= render(ApplicationFormOverview::Component.new(@view_object.application_form)) %>
