<% title = if @view_object.assessment.review?
             "Application sent for review"
           elsif @view_object.assessment.verify?
             "Verifications requested"
           elsif @view_object.assessment.request_further_information?
             if @view_object.assessment.latest_further_information_request.first_request?
               "First further information request sent successfully"
             elsif @view_object.assessment.latest_further_information_request.second_request?
               "Second further information request sent successfully"
             else
               "Final further information request sent successfully"
             end
           else
             "QTS application #{@view_object.application_form.reference} has been #{@view_object.status.downcase}"
           end %>

<% content_for :page_title, title %>

<% if @view_object.application_form.awarded_at.present? %>
  <%= govuk_panel(text: title) %>
<% else %>
  <h1 class="govuk-heading-xl"><%= title %></h1>
<% end %>

<% if @view_object.assessment.review? %>
  <p class="govuk-body">An assessor will now review the application and make a decision on awarding or declining QTS.</p>
<% elsif @view_object.assessment.verify? %>
  <p class="govuk-body">You have submitted your verification requests.</p>
  <p class="govuk-body">These will now be verified by an admin. You do not need to do anything further with this application unless it is flagged for review.</p>
<% elsif @view_object.assessment.request_further_information? %>
  <% if @view_object.assessment.latest_further_information_request.first_request? %>
    <p class="govuk-body">The applicant has been emailed to request further information. They have 6 weeks to respond.</p>
    <p class="govuk-body">They will automatically be sent a reminder 14 days, 7 days, and 2 days before the request expires.</p>
  <% else %>
    <p class="govuk-body">The applicant has been emailed to request further information. They have 3 weeks to respond.</p>
    <p class="govuk-body">They will automatically be sent a reminder 7 days and then 2 days before the request expires.</p>
  <% end %>

  <p class="govuk-body">If the applicant does not respond to the further information request, their application will be automatically declined.</p>
<% elsif @view_object.application_form.declined_at.present? %>
  <p class="govuk-body">The application will be deleted after 90 days unless the applicant chooses to appeal.</p>
<% elsif @view_object.application_form.trs_trn_request.present? %>
  <p class="govuk-body">This status will appear while the award is reconciled with the information in the Database of Qualified Teachers (DQT).</p>
  <p class="govuk-body">Once these checks are complete, the status will change to ‘Awarded’ and the applicant will receive the email telling them they’ve been awarded QTS.</p>
<% end %>

<div class="govuk-button-group">
  <%= govuk_button_link_to "Back to application list", %i[assessor_interface application_forms] %>
  <%= govuk_button_link_to "See application overview", [:assessor_interface, @view_object.application_form], secondary: true %>
</div>
