<% content_for :page_title, "Application history" %>
<% content_for :back_link_url, assessor_interface_application_form_path(@view_object.application_form) %>

<h1 class="govuk-heading-xl">Application history</h1>

<div class="moj-timeline">
  <% @timeline_events.each do |timeline_event| %>
    <%= render(TimelineEntry::Component.new(timeline_event:))%>
  <% end %>
</div>
