<% content_for :page_title, "Check your answers" %>
<% content_for :back_link_url, teacher_interface_application_form_path(@application_form) %>

<h1 class="govuk-heading-l">Check your answers</h1>

<%= render "summary", application_form: @application_form %>

<%= govuk_button_link_to "Continue", teacher_interface_application_form_path(@application_form) %>
