<% title = "Change record for #{@eligibility_domain.domain}" %>

<% content_for :back_link_url, assessor_interface_eligibility_domains_path %>
<% content_for :page_title, title %>

<h1 class="govuk-heading-xl"><%= title %></h1>

<article>
  <h2 class="govuk-heading-m">Current record</h2>

  <%= govuk_summary_list(actions: false) do |summary_list| %>
    <% summary_list.with_row do |row| %>
      <% row.with_key { "Domain" } %>
      <% row.with_value { @eligibility_domain.domain } %>
    <% end %>

    <% summary_list.with_row do |row| %>
      <% row.with_key { "Date flagged" } %>
      <% row.with_value { @eligibility_domain.created_at.localtime.to_fs } %>
    <% end %>

    <% summary_list.with_row do |row| %>
      <% row.with_key { "Flagged by" } %>
      <% row.with_value { @eligibility_domain.created_by.name } %>
    <% end %>

    <% summary_list.with_row do |row| %>
      <% row.with_key { "Status" } %>
      <% row.with_value { render StatusTag::Component.new(@eligibility_domain.archived_at.present? ? "archived" : "active") } %>
    <% end %>

    <% summary_list.with_row do |row| %>
      <% row.with_key { "History" } %>
      <% row.with_value do %>
        <%= govuk_details(summary_text: "View details") do %>
          <% tag.div(class: "moj-timeline") do %>
            <% @eligibility_domain.timeline_events.order(created_at: :desc).each do |timeline_event| %>
              <%= render(TimelineEntry::Component.new(timeline_event:)) %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</article>

