<h1 class="govuk-heading-m">Application form</h1>
<p class="govuk-hint">Do we accept applications from this country?</p>
<%= f.govuk_radio_button :eligibility_enabled, 'yes', label: { text: 'Yes' }, link_errors: true %>
<%= f.govuk_radio_button :eligibility_enabled, 'no', label: { text: 'No' } %>
<br>