<%= govuk_inset_text do %>
  <p class="govuk-body">
    New criteria will apply to applications made from 1 February 2023.
  </p>

  <p class="govuk-body">
    If you do not submit your application before this date, you'll need to submit a new application against the <a href="https://www.gov.uk/government/publications/awarding-qualified-teacher-status-to-overseas-teachers/a-fairer-approach-to-awarding-qts-to-overseas-teachers#criteria-for-awarding-qts" class="govuk-link">new criteria</a>.
  </p>
<% end %>
