<p class="govuk-body">
  Your teaching qualifications and experience will be assessed against strict requirements. These requirements are mandatory and must be met in full. The process is designed to ensure we only award QTS to the highest quality teachers. This means it can take time.
</p>

<p class="govuk-body">
  We assess 90 per cent of applications within 12 months.
  <% if FeatureFlags::FeatureFlag.active?(:prioritisation) %>
    However, if we can confirm that you have <%= govuk_link_to "eligible work experience in England", "https://www.gov.uk/government/publications/awarding-qualified-teacher-status-to-overseas-teachers/a-fairer-approach-to-awarding-qts-to-overseas-teachers--2" %>, we will prioritise your application. This means you will receive a faster response.
  <% end %>
</p>

<p class="govuk-body">Information correct as of March 2025. Timelines are based on total applications completed since February 2023.</p>

<p class="govuk-body">It may take longer if we need to ask for further information or if external factors, or third parties, cause delays. This includes waiting for references, or verification of qualifications or professional standing. The time it takes to assess applications is regularly reviewed and subject to change.</p>
