<li>
    <p class="govuk-body">
        <%= t("assessor_interface.assessment_sections.show.failure_reasons.#{failure_reason.key}") %>
    </p>
    <%= simple_format failure_reason.assessor_feedback %>
</li>
