<br>
<h2 class="govuk-heading-m">Content changes to the eligible page (eligibility checker)</h2>

<p class="govuk-body govuk-!-font-weight-bold">Add additional information for sections:</p>

<p class="govuk-body govuk-!-font-weight-regular">‘Proof that you’re recognised as a teacher’<br>(Example: ‘TRCN will charge you a fee of ₦60,000 for providing the Letter of Professional standing. They’ll also need your QTS application reference number, as well as copies of your teaching documents.’)</p>

<%= f.govuk_text_area :teaching_authority_sanction_information, label: { text: 'Sanction Information' }, rows: 5 %>
<%= f.govuk_text_area :teaching_authority_sanction_information, label: { text: 'Status Information' }, rows: 5 %>