<br>
<h1 class="govuk-heading-m">Eligibility checker</h1>
<p class="govuk-hint">Which route will applicants take through the eligibility checker?</p>
<%= f.govuk_radio_button :eligibility_enabled, 'yes', label: { text: 'Standard – Asks 5 standard questions that most countries would need to be asked.' }, link_errors: true %>
<%= f.govuk_radio_button :eligibility_enabled, 'no', label: { text: 'Reduced – Only asks if the applicant’s teaching qualification was completed in their country of recognition.' } %>
<br>
    
<%= f.govuk_check_box :eligibility_skip_questions, 1, 0, multiple: false, link_errors: true, small: true, label: { text: "Skip additional eligibility questions (keep qualification question)" }%>