<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <ul class="govuk-list govuk-list--bullet">
      <li>Antigua and Barbuda</li>
      <li>Australia</li>
      <li>The Bahamas</li>
      <li>Barbados</li>
      <li>Belize</li>
      <li>Canada</li>
      <li>Dominica</li>
      <li>Grenada</li>
      <li>Guyana</li>
    </ul>
  </div>

  <div class="govuk-grid-column-one-half">
    <ul class="govuk-list govuk-list--bullet">
      <li>Ireland</li>
      <li>Jamaica</li>
      <li>Malta</li>
      <li>New Zealand</li>
      <li>St Kitts and Nevis</li>
      <li>St Lucia</li>
      <li>St Vincent and the Grenadines</li>
      <li>Trinidad and Tobago</li>
      <li>USA</li>
    </ul>
  </div>
</div>

<p class="govuk-body">Qualified teachers from Great Britain, Northern Ireland, Jersey, Guernsey and Gibraltar are also exempt.</p>
