<%= govuk_details(summary_text: "About approved providers") do %>
  <p class="govuk-body">
    To apply for QTS you must use an approved provider. We cannot accept English language proficiency tests from a provider that does not appear on the list.
  </p>

  <p class="govuk-body">
    View <%= govuk_link_to "approved ESOL providers", "https://find-a-qualification.services.ofqual.gov.uk/qualifications?availability=Available%20to%20learners&qualificationTypes=English%20For%20Speakers%20of%20Other%20Languages&qualificationLevels=Level%201,Level%201%2FLevel%202,Level%202&nationalAvailability=International", new_tab: true %>.
  </p>
<% end %>
