<aside class="govuk-!-margin-top-6">
  <h2 class="govuk-heading-s">Help us to improve this service</h2>

  <p class="govuk-body">
    Please <%= govuk_link_to "give us feedback", t("service.feedback_url") %> about your experience of using this service. It should take less than 2 minutes to complete.
  </p>
</aside>
