<aside class="govuk-!-margin-top-6">
  <h2 class="govuk-heading-s">Help us to improve this service</h2>

  <p class="govuk-body">We’re redesigning this service as part of the government’s plan to boost teacher recruitment from overseas, so we’d like to talk to people who want to come to England to teach.</p>

  <p class="govuk-body">Throughout 2022 we’re inviting people to chat on video calls – it’ll take no more than 60 minutes.</p>

  <p class="govuk-body">If you’d like to help, follow the link below. If you match our search criteria, we’ll be in touch.</p>

  <p class="govuk-body">
    <%= govuk_link_to "https://docs.google.com/forms/d/e/1FAIpQLSfjsMHqaiNP2cUUpmbeOkHRM96afrsj1TmTIEs-k4yit0JqBA/viewform?usp=sharing" do %>
      I’d like to take part in the user research
    <% end %>
  </p>
</aside>
