<h2 class="govuk-heading-m">Help us to improve this service</h2>

<p class="govuk-body">
  We’re always looking for ways to improve the apply for QTS service.
  If you’d like to share your experiences, please complete this <%= govuk_link_to "feedback form", t("service.feedback_url"), new_tab: true %>.
</p>
