<ul class="govuk-list">
  <% application_forms.take(3).each do |application_form| %>
    <li>
      <%= link_to "Check application #{application_form.reference} (opens in a new window)",
                  assessor_interface_application_form_path(application_form),
                  target: :_blank, class: "govuk-notification-banner__link" %>
    </li>
  <% end %>
</ul>

<% if application_forms.count > 3 %>
  <%= govuk_details(summary_text: "View more") do %>
    <ul class="govuk-list">
      <% application_forms[3..-1].each do |application_form| %>
        <li>
          <%= link_to "Check application #{application_form.reference} (opens in a new window)",
                      assessor_interface_application_form_path(application_form),
                      target: :_blank, class: "govuk-notification-banner__link" %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
