<%= govuk_notification_banner(title_text: "Important") do |notification_banner| %>
  <% notification_banner.with_heading(text: "Scheduled maintenance") %>

  <p class="govuk-body">This service will be unavailable between 1pm and 2pm (GMT) on Monday 16 March 2026 due to planned maintenance.</p>
  <p class="govuk-body">Please save your progress before this time as you will not be able to use the service during this period.</p>
<% end %>
