<%= render "shared/teaching_authority_contactable", contactable: region.country %>

<% if region.country.teaching_authority_present? && region.teaching_authority_present? %>
  <p class="govuk-body">or</p>
<% end %>

<%= render "shared/teaching_authority_contactable", contactable: region %>

<p class="govuk-body">
  This must be dated within 3 months of you applying for QTS.
</p>
