<% country = region.country %>
<% region_information = region.teaching_qualification_information %>
<% country_information = country.teaching_qualification_information %>

<% if region_information.present? || country_information.present? %>
  <h2 class="govuk-heading-m">Qualification criteria for <%= CountryName.from_country(country, with_definite_article: true) %></h2>

  <% if region_information.present? %>
    <%= raw GovukMarkdown.render(region_information) %>
  <% end %>

  <% if country_information.present? %>
    <%= raw GovukMarkdown.render(country_information) %>
  <% end %>
<% end %>

<% if country.subject_limited %>
  <h2 class="govuk-heading-m">Additional age and subject requirements</h2>

  <p class="govuk-body">
    We only accept applications from teachers from <%= CountryName.from_country(country, with_definite_article: true) %> who are qualified to teach children aged 11-16 in one or more of the following specific subjects:
  </p>

  <p class="govuk-body">
    Maths, Science, Biology, Chemistry, Physics, French, German, Italian, Japanese, Latin, Mandarin, Russian, Spanish.
  </p>

  <p class="govuk-body">
    We do not accept related subjects, for example economics instead of maths, agricultural science instead of biology or engineering instead of physics.
  </p>

  <p class="govuk-body">Qualified means:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>Your teaching qualification specifically states that you can teach one of the subjects listed above, for example, the subject is in the title of your teaching qualification</li>
    <li>Your teaching qualification certificate shows at least 25% of your teaching qualification was in one of the listed subjects</li>
    <li>Your bachelor’s degree certificate shows at least 50% of your degree was in one of the listed subjects</li>
  </ul>

  <p class="govuk-body">We accept any of the above as evidence you are qualified to teach a specific subject.</p>

  <% if (FeatureFlags::FeatureFlag.active?(:prioritisation) && application_form.nil?) || (application_form.present? && application_form.includes_prioritisation_features?) %>
    <h3 class="govuk-heading-s">If you have valid work experience in England</h3>

    <p class="govuk-body">
      Your application may be prioritised if you have gained valid educational work experience in England for any length of time in the last 12 months. This means you must be qualified to teach children aged anywhere between 5 to 16. You do not need to meet the additional subject requirements.
    </p>

    <p class="govuk-body">
      You will need to provide references to confirm your work experience in England before your application is prioritised.
    </p>

    <p class="govuk-body">
      If we can't confirm that you have valid work experience in England, the additional age and subject requirements above apply.
    </p>
  <% end %>
<% end %>
