<% content_for :page_title, "Check qualifications" %>
<% content_for :back_link_url, assessor_interface_application_form_path(@application_form) %>

<h1 class="govuk-heading-xl">Check qualifications</h1>

<%= render "shared/application_form/qualifications_summary",
           application_form: @application_form,
           qualifications: @qualifications,
           changeable: false %>

<%= render "shared/application_form/age_range_summary",
           application_form: @application_form,
           changeable: false %>

<%= render "shared/application_form/subjects_summary",
           application_form: @application_form,
           changeable: false %>

<%= govuk_button_link_to "Continue", [:assessor_interface, @application_form] %>
