<% content_for :back_link_url, new_assessor_interface_application_form_assessment_further_information_request_path(@application_form, @assessment) %>

<h1 class="govuk-heading-xl">Further information request email preview</h1>

<div class="app-email-preview govuk-body">
  <div class="app-email-preview__header">
    <div class="app-email-preview__header__logo">
      GOV.UK
    </div>
  </div>

  <div class="app-email-preview__content">
    <%= @email_preview.html_safe %>
  </div>
</div>

<%= form_with model: [:assessor_interface, @application_form, @assessment, @further_information_request] do |f| %>
  <%= f.govuk_submit "Send email to applicant" do %>
    <%= govuk_button_link_to "Back to overview", assessor_interface_application_form_path(@application_form), secondary: true %>
  <% end %>
<% end %>
