<% content_for :page_title, "Further information request email preview" %>
<% content_for :back_link_url, back_history_path(default: preview_assessor_interface_application_form_assessment_further_information_requests_path) %>

<h1 class="govuk-heading-xl">Further information request email preview</h1>

<%= render(PreviewMailer::Component.new(
  mailer_class: TeacherMailer,
  name: :further_information_requested,
  application_form: @application_form,
)) %>

<%= form_with model: [:assessor_interface, @application_form, @assessment, @further_information_request] do |f| %>
  <%= f.govuk_submit "Send email to applicant" do %>
    <%= govuk_button_link_to "Back to overview", assessor_interface_application_form_path(@application_form), secondary: true %>
  <% end %>
<% end %>
