<% content_for :back_link_url, back_history_path(default: assessor_interface_application_form_path(@application_form)) %>

<%= govuk_panel(title_text: "Further information email sent successfully") %>

<p class="govuk-body">You’ve successfully sent your further information request email to the applicant.</p>
<p class="govuk-body">You can now return to the application itself, or go back to your list of applications.</p>

<%= govuk_button_link_to "See application overview", assessor_interface_application_form_path(@application_form) %>
<%= govuk_button_link_to "Back to application list", assessor_interface_application_forms_path, secondary: true %>
