<% content_for :page_title, t(".title") %>

<h1 class="govuk-heading-xl"><%= t(".title") %></h1>

<%= render "shared/prioritisation_reference_request_summary", prioritisation_reference_request: @prioritisation_reference_request, changeable: true %>

<% if @prioritisation_reference_request.responses_given? %>
  <h3 class="govuk-heading-m">How we handle your data</h3>
  <p class="govuk-body">You can read about the data we collect from you, how we use it and how it's stored, in our <%= govuk_link_to "privacy policy", "https://www.gov.uk/government/publications/privacy-information-education-providers-workforce-including-teachers/5a254207-a566-44f7-ac77-6ba59fd26e04#using-your-data-when-you-use-the-apply-for-qualified-teacher-status-qts-in-england-service" %>.</p>
  <h4 class="govuk-heading-m">Submitting your response</h4>
  <p class="govuk-body">By selecting the ‘Submit your response’ button, you confirm that, to the best of your knowledge, the details you’ve provided are correct.</p>
  <p class="govuk-body">You will not be able to change your response or delete anything once you submit it.</p>
  <%= govuk_button_to "Submit your response", teacher_interface_prioritisation_reference_request_path, method: :patch %>
<% end %>
