<% accordion.section(heading_text: "Which countries are exempt?") do %>
  <p class="govuk-body">
    The following countries are exempt from additional English language proficiency requirements:
  </p>

  <%= render "shared/english_language_exempt_countries" %>
<% end %>
