<% preliminary = assessment_section.preliminary? %>

<div id="teaching-qualification-section">
  <h3 class="govuk-heading-m govuk-!-margin-top-7">Teaching qualification</h3>

  <%= render(CheckYourAnswersSummary::Component.new(
    id: "qualification-#{application_form.teaching_qualification.id}",
    model: application_form.teaching_qualification,
    title: application_form.teaching_qualification.title,
    fields: {
      title: preliminary ? nil : {
        title: t(application_form.teaching_qualification.locale_key, scope: %i[application_form qualifications form fields title]),
      },
      institution_name: preliminary ? nil : {
        title: t("application_form.qualifications.form.fields.institution_name"),
      },
      institution_country_name: preliminary ? nil : {
        title: t("application_form.qualifications.form.fields.institution_country"),
      },
      start_date: preliminary ? nil : {
        title: t(application_form.teaching_qualification.locale_key, scope: %i[application_form qualifications form fields start_date]),
        format: :without_day,
      },
      complete_date: preliminary ? nil : {
        title: t(application_form.teaching_qualification.locale_key, scope: %i[application_form qualifications form fields complete_date]),
        format: :without_day,
      },
      certificate_date: preliminary ? nil : {
        title: t(application_form.teaching_qualification.locale_key, scope: %i[application_form qualifications form fields certificate_date]),
        format: :without_day,
      },
      certificate_document: {
        href: [:teacher_interface, :application_form, application_form.teaching_qualification.certificate_document],
      },
      transcript_document: {
        href: [:teacher_interface, :application_form, application_form.teaching_qualification.transcript_document],
      },
      part_of_degree: preliminary ? nil : {
        title: "Part of your bachelor’s degree?",
        value: application_form.teaching_qualification_part_of_degree,
      },
    },
    changeable: false,
    with_action_link_to: preliminary || !policy([:assessor_interface, application_form.teaching_qualification]).edit? ? nil : [:delete, :teacher_interface, :application_form, application_form.teaching_qualification],
    with_action_link_label: preliminary || !policy([:assessor_interface, application_form.teaching_qualification]).edit? ? nil : "Edit",
  )) %>
</div>

<% if (other_qualifications = application_form.qualifications.order_by_user.reject(&:is_teaching?)).present? %>
  <div id="other-qualifications-section">
    <h3 class="govuk-heading-m govuk-!-margin-top-7">Other qualifications</h3>

    <% other_qualifications.each do |qualification| %>
      <%= render(CheckYourAnswersSummary::Component.new(
        id: "qualification-#{qualification.id}",
        model: qualification,
        title: qualification.title,
        fields: {
          title: preliminary ? nil : {
            title: t(qualification.locale_key, scope: %i[application_form qualifications form fields title]),
          },
          institution_name: preliminary ? nil : {
            title: t("application_form.qualifications.form.fields.institution_name"),
          },
          institution_country_name: preliminary ? nil : {
            title: t("application_form.qualifications.form.fields.institution_country"),
          },
          start_date: preliminary ? nil : {
            title: t(qualification.locale_key, scope: %i[application_form qualifications form fields start_date]),
            format: :without_day,
          },
          complete_date: preliminary ? nil : {
            title: t(qualification.locale_key, scope: %i[application_form qualifications form fields complete_date]),
            format: :without_day,
          },
          certificate_date: preliminary ? nil : {
            title: t(qualification.locale_key, scope: %i[application_form qualifications form fields certificate_date]),
            format: :without_day,
          },
          certificate_document: {
            href: [:teacher_interface, :application_form, qualification.certificate_document],
          },
          transcript_document: {
            href: [:teacher_interface, :application_form, qualification.transcript_document],
          },
        },
        changeable: false,
        with_action_link_to: preliminary || !policy([:assessor_interface, qualification]).edit_assign_teaching? ? nil : [:assign_teaching, :assessor_interface, application_form, qualification],
        with_action_link_label: preliminary || !policy([:assessor_interface, qualification]).edit_assign_teaching? ? nil : "Assign as teaching qualification",
      )) %>
    <% end %>
  </div>
<% end %>

<% unless assessment_section.preliminary? %>
  <%= govuk_accordion do |accordion| %>
    <% accordion.with_section(heading_text: "Qualification information shown to applicant") do %>
      <%= render "shared/eligible_region_content_components/proof_of_qualifications", region: %>
    <% end %>

    <% if application_form.english_language_qualification_exempt %>
      <% render "english_language_exempt_accordion_section", accordion: %>
    <% end %>
  <% end %>
<% end %>
