<% content_for :page_title, t("application_form.tasks.sections.work_history") %>
<% content_for :back_link_url, back_history_path(default: teacher_interface_application_form_work_histories_path) %>

<h1 class="govuk-heading-l">Your work experience does not meet all of the requirements for QTS</h1>

<p class="govuk-body">
  You can <%= govuk_link_to "explore other ways to teach in England (opens in new tab)", "https://getintoteaching.education.gov.uk/non-uk-teachers/teach-in-england-if-you-trained-overseas", new_tab: true %>.
</p>

<%= render "shared/help_us_to_improve_this_service" %>
