<% content_for :page_title, "Check personal information" %>

<% content_for :back_link_url, assessor_interface_application_form_path(@application_form) %>

<h1 class="govuk-heading-xl">Check personal information</h1>

<%= render "shared/application_form/personal_information_summary",
           application_form: @application_form,
           changeable: false %>

<%= render "shared/application_form/identity_document_summary",
           application_form: @application_form,
           changeable: false %>

<%= govuk_button_link_to "Continue", [:assessor_interface, @application_form] %>
