<% content_for :page_title, "Staff" %>

<h1 class="govuk-heading-xl">Staff</h1>

<%= govuk_tabs(title: "Contents") do |tabs|
  tabs.with_tab(label: "Active users") { render "active_users" }
  tabs.with_tab(label: "Archived users") { render "archived_users" }
end %>
