<% content_for :page_title, "Staff" %>

<h1 class="govuk-heading-xl">Staff</h1>

<p class="govuk-body">
  <%= govuk_button_link_to "Invite staff user", new_staff_invitation_path %>
</p>

<%= govuk_tabs(title: "Contents") do |tabs|
  tabs.with_tab(label: "Active users") { render "active_users" }
  tabs.with_tab(label: "Archived users") { render "archived_users" }
end %>
