feature_flags:
  convert_documents_to_pdf:
    author: Thomas Leese
    description: >
      Provide a way of automatically converting documents to a single PDF suitable for
      uploading to the Ecctis portal.

  fetch_malware_scan_result:
    author: Steve Laing
    description: >
      Fetch malware scan results for uploaded files.
      This flag should only be active for environments where malware scanning is enabled.

  personas:
    author: Thomas Leese
    description: >
      Allow signing in as a 'persona', making it easy to perform acceptance
      testing by impersonating a particular user, e.g. teacher, assessor, or admin.

  service_open:
    author: Thomas Leese
    description: >
      Allow users to access the service without HTTP basic auth. Should be
      inactive on production, and active on all other environments.

  sign_in_with_active_directory:
    author: Richard Pattinson
    description: Allow users to sign in using accounts in Active Directory.

  staff_test_user:
    author: David Feetenby
    description: >
      Add extra user with access to the eligibility checker for user research.
      When service_open is deactivated, and this flag is enabled, the user will
      have full access to the service. Should be inactive on production.

  teacher_applications:
    author: Thomas Leese
    description: >
      Allow starting an application on this service directly after completing
      an eligibility check.

parent_controller: SupportInterface::FeatureFlagsController
