feature_flags:
  fetch_malware_scan_result:
    author: Steve Laing
    description: >
      Fetch malware scan results for uploaded files.
      This flag should only be active for environments where malware scanning is enabled.

  personas:
    author: Thomas Leese
    description: >
      Allow signing in as a 'persona', making it easy to perform acceptance
      testing by impersonating a particular user, e.g. teacher, assessor, or admin.

  service_open:
    author: Thomas Leese
    description: >
      Allow users to access the service without HTTP basic auth. Should be
      inactive on production, and active on all other environments.

  sign_in_with_active_directory:
    author: Richard Pattinson
    description: Allow users to sign in using accounts in Active Directory.

  suitability:
    author: Thomas Leese
    description: Enable suitability records and matching.

  gov_one_applicant_login:
    author: Hassan Mir
    description: Allow teacher applicants to sign in using GovOne Login

  teacher_applications:
    author: Thomas Leese
    description: >
      Allow starting an application on this service directly after completing
      an eligibility check.

  use_passport_for_identity_verification:
    author: Hassan Mir
    description: New applicants must upload passport as their proof of identity as opposed to any photo ID.

  prioritisation:
    author: Hassan Mir
    description: New prioritisation flows for applicants that have work experience in England.

  email_domains_for_referees:
    author: Hassan Mir
    description: New feature to block public email domains being submitted for referees by applicants.

  support_request_form:
    author: Hassan Mir
    description: New feature for applicants to submit support requests regarding the service.

parent_controller: SupportInterface::FeatureFlagsController
