<h2 class="govuk-heading-l">Your QTS application was successful</h2>

<p class="govuk-body">As someone with qualified teacher status, you’ve been assigned a teacher reference number (TRN).</p>

<p class="govuk-body">Your TRN is:</p>
<%= govuk_inset_text(text: view_object.teacher.trn) %>

<h3 class="govuk-heading-m">Next steps</h3>

<p class="govuk-body">To download a PDF of your QTS certificate and find your date of recognition, visit:</p>
<p class="govuk-body"><%= govuk_link_to "https://www.gov.uk/guidance/teacher-self-service-portal", "https://www.gov.uk/guidance/teacher-self-service-portal" %></p>

<h3 class="govuk-heading-m">Find out more about teaching in England</h3>

<p class="govuk-body">There’s more information about coming to teach in England at: <a href="https://getintoteaching.education.gov.uk/non-uk-teachers" class="govuk-link">Get Into Teaching</a></p>

<h3 class="govuk-heading-m">Search for a job in teaching</h3>

<p class="govuk-body">You can search for a teaching job using <a href="https://teaching-vacancies.service.gov.uk" class="govuk-link">Teaching Vacancies</a>. It’s the official government service that schools use to list their teaching roles. You can also sign up to alerts for the latest jobs matching your key search criteria.</p>

<h3 class="govuk-heading-m">Get support with your application</h3>

<p class="govuk-body">If you’re applying for a secondary school maths, physics or modern foreign languages teaching role in England, use the Get into Teaching service for one-to-one support with your application through <a href="https://adviser-getintoteaching.education.gov.uk" class="govuk-link">Get an advisor</a>.</p>
<p class="govuk-body">Your adviser can help with writing a personal statement, preparing for an interview and accessing courses to enhance your subject knowledge.</p>
