<h2 class="govuk-heading-m">We need some more information</h2>

<p class="govuk-body">The assessor needs you to provide more information so they can continue reviewing your application.</p>

<%= govuk_start_button(text: "Start now", href: teacher_interface_application_form_further_information_request_path(view_object.further_information_request)) %>
