<h2 class="govuk-heading-m">We need some more information</h2>

<p class="govuk-body">The assessor needs you to provide some additional information so they can continue reviewing your application.</p>

<div class="govuk-inset-text">
  You may need to upload 1 or more documents. Make sure any files you upload clearly show the whole document or page, and that any text is easy to read.
</div>

<p class="govuk-body">You must add all of the requested information, so the assessor can continue reviewing your QTS application.</p>

<%= govuk_start_button(text: "Start now", href: teacher_interface_application_form_further_information_request_path(view_object.further_information_request)) %>
