<h2 class="govuk-heading-l">
  Application submitted
</h2>

<h2 class="govuk-heading-m">
  Application reference number: <strong><%= view_object.application_form.reference %></strong>
</h2>

<h2 class="govuk-heading-m">What happens next</h2>

<p class="govuk-body">
  First, we’ll confirm if your experience in England is valid and if your application can be prioritised.
</p>

<p class="govuk-body">
  We’ll email you to confirm if your application will be prioritised or not, and to confirm when you should request your <%= region_certificate_phrase(view_object.region) %> from <%= region_teaching_authority_name_phrase(view_object.region) %>.
</p>

<p class="govuk-body">
  Do not request your <%= region_certificate_name(view_object.region) %> until you have received confirmation from us. You do not need to contact us.
</p>
