<h2 class="govuk-heading-m">We need your written consent to verify some of your qualifications</h2>

<p class="govuk-body">As part of your QTS application we need to verify some of your qualifications.</p>

<p class="govuk-body">You need to sign and return a consent document for each qualification we need to verify. You will find these documents on the following screen.</p>

<h3 class="govuk-heading-s">What you need to do</h3>

<p class="govuk-body">Download each document, then:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>print it</li>
  <li>sign it, making sure your signature is clear</li>
  <li>scan or photograph it</li>
  <li>upload the signed document</li>
</ul>

<%= govuk_start_button(text: "Start now", href: %i[teacher_interface application_form consent_requests]) %>
