<% unless view_object.declined_cannot_reapply? %>
  <h3 class="govuk-heading-l">What you can do next</h3>
  <p class="govuk-body">You can explore <%= govuk_link_to "other routes into teaching", "https://getintoteaching.education.gov.uk/routes-into-teaching" %>.</p>

  <% unless view_object.from_ineligible_country? %>
    <p class="govuk-body">Or, you’ll be able to make a new application once you’ve addressed all decline reasons given. If you reapply for QTS, you’ll not be able to review the details of your previous application.</p>
  <% end %>
<% end %>
