<% unless view_object.declined_cannot_reapply? %>
  <h3 class="govuk-heading-l">What you can do next</h3>
  <p class="govuk-body">You can explore <%= govuk_link_to "other routes into teaching", "https://getintoteaching.education.gov.uk/routes-into-teaching" %>.</p>

  <% unless view_object.from_ineligible_country? %>
    <p class="govuk-body">
      Or, if you can address the reasons your application has been declined, you can submit a new application. You must <%= govuk_link_to "check you’re still eligible to apply", new_teacher_interface_application_form_path %> first. You’ll need to provide all the required information and documents again.
    </p>
  <% end %>
<% end %>
