<% content_for :page_title, "Check professional standing" %>
<% content_for :back_link_url, assessor_interface_application_form_path(@application_form) %>

<h1 class="govuk-heading-xl">Check professional standing</h1>

<% if @application_form.registration_number.present? %>
  <%= render "shared/application_form/registration_number_summary",
             application_form: @application_form,
             changeable: false %>
<% end %>

<% if @application_form.written_statement_document.uploaded? %>
  <%= render "shared/application_form/written_statement_summary",
             application_form: @application_form,
             changeable: false %>
<% end %>

<%= govuk_button_link_to "Continue", [:assessor_interface, @application_form] %>
