<% content_for :page_title, 'You’re eligible' %>
<% content_for :back_link_url, back_link_url %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">You’re eligible to apply for qualified teacher status (QTS) in England</h1>
    <p class="govuk-body">Based on the information you’ve given us you may qualify for QTS.</p>

    <h2 class="govuk-heading-m">You can prepare to apply now</h2>
    <p class="govuk-body">
      If you decide to apply, you'll need to provide a range of evidence. We'll ask you
      to upload some scans, photos, or original files, so it's useful to get these now.
    </p>

    <h2 class="govuk-heading-m">You might need to provide translations</h2>
    <p class="govuk-body">If your documents are not in English, you’ll need to provide a certified translation of each one.</p>

    <p class="govuk-body">You’ll make your application on the Teaching Regulation Agency website.</p>

    <%= govuk_start_button(text: "Apply for QTS", href: "https://teacherservices.education.gov.uk/MutualRecognition/") %>
  </div>
</div>
