<% content_for :page_title, "You're not eligible" %>
<% content_for :back_link_url, back_link_url %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      You're not eligible to apply for qualified teacher status (QTS) in England
    </h1>
    <p class="govuk-body"><%= I18n.t("activemodel.attributes.eligibility_check.ineligible_reason.#{@eligibility_check.ineligible_reason}") %></p>
    <p class="govuk-body">You can find out <a href="https://getintoteaching.education.gov.uk/ways-to-train">how to train to become a teacher in England</a></p>
  </div>
</div>
