<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Check your eligibility to apply for qualified teacher status (QTS) in England
    </h1>

    <p class="govuk-body">Teacher training in England leads to qualified teacher status (QTS). QTS is a legal requirement to teach in many English schools.</p>
    <p class="govuk-body">We'll ask some questions to check your eligibility to apply for QTS in England. This should take about 5 minutes.</p>

    <%= govuk_start_button(text: 'Continue', href: teacher_interface_degree_path, classes: 'govuk-!-margin-top-2 govuk-!-margin-bottom-9') %>
  </div>
</div>
