<% content_for :page_title, "Verify LoPS" %>
<% content_for :back_link_url, assessor_interface_application_form_path(@application_form) %>

<h1 class="govuk-heading-xl">Verify LoPS</h1>

<p class="govuk-body">
  You need to request verification for this application’s LoPS.
</p>

<%= render(TaskList::Component.new(
  [
    {
      title: "",
      items: [
        {
          name: "Request LoPS verification",
          link: unless @professional_standing_request.requested?
                  [
                    :request,
                    :assessor_interface,
                    @application_form,
                    @assessment,
                    :professional_standing_request,
                  ]
                end,
          status: @professional_standing_request.requested? ? "completed" : "not_started"
        },
        {
          name: "Record LoPS response",
          link: if @professional_standing_request.requested?
                  [
                    :verify,
                    :assessor_interface,
                    @application_form,
                    @assessment,
                    :professional_standing_request
                  ]
                end,
          status: @professional_standing_request.requested? ? @professional_standing_request.status : "cannot_start"
        }
      ],
    }
  ]
)) %>

<%= govuk_button_link_to "Back to overview", [:assessor_interface, @application_form] %>
