<%= content_for :page_title, "Page not found" %>

<h1 class="govuk-heading-l">Page not found</h1>

<p class="govuk-body">
  If you entered a web address, check it is correct.
</p>

<p class="govuk-body">
  If you pasted the web address, check you copied the entire address.
</p>

<p class="govuk-body">
  If the web address is correct or you selected a link or button and you need to speak to someone about this problem,
  contact the <%= t(current_namespace, scope: %i[service name]) %> team:
  <%= govuk_link_to t("service.email.enquiries"), email_path("enquiries") %>
</p>
