<%= content_for :page_title, "Sorry, there’s a problem with the service" %>

<h1 class="govuk-heading-l">Sorry, there’s a problem with the service</h1>

<p class="govuk-body">Try again later.</p>

<p class="govuk-body">
  You’re seeing this message as you’ve tried to access this page repeatedly,
  please wait a few moments before trying again.
</p>
