<%= content_for :page_title, "Sorry, there’s a problem with the service" %>

<h1 class="govuk-heading-l">Sorry, there’s a problem with the service</h1>

<p class="govuk-body">Try again later.</p>

<p class="govuk-body">
  If you continue to see this error contact the <%= t(current_namespace, scope: %i[service name]) %> team:
  <%= govuk_link_to t("service.email.enquiries"), email_path("enquiries") %>
</p>
