<% content_for :page_title, title_with_error_prefix(t("helpers.label.teacher_interface_reference_request_additional_information_response_form.additional_information_response"), error: @form.errors.any?) %>
<% content_for :back_link_url, back_history_path(default: teacher_interface_reference_request_path) %>

<%= form_with model: @form, url: additional_information_teacher_interface_reference_request_path do |f| %>
  <%= f.govuk_error_summary %>

  <span class="govuk-caption-l">Any other comments</span>

  <%= f.govuk_text_area :additional_information_response, label: { tag: "h1", size: "l" } %>

  <%= f.govuk_submit %>
<% end %>
