<% content_for :page_title, "We no longer need you to act as a reference." %>

<h1 class="govuk-heading-xl"><%= t("service.name.eligibility") %></h1>

<p class="govuk-body">We no longer need you to act as a reference.</p>

<p class="govuk-body">You do not need to do anything else.</p>
