<% content_for :page_title, "English language proficiency test providers" %>

<h1 class="govuk-heading-l">English language proficiency test providers</h1>

<% @english_language_providers.each do |english_language_provider| %>
  <article>
    <h2 class="govuk-heading-m"><%= govuk_link_to english_language_provider.name, [:edit, :support_interface, english_language_provider] %></h2>

    <%= govuk_summary_list(actions: false) do |summary_list|
      summary_list.with_row do |row|
        row.with_key { t("helpers.label.english_language_provider.b2_level_requirement_prefix") }
        row.with_value { english_language_provider.b2_level_requirement_prefix }
      end

      summary_list.with_row do |row|
        row.with_key { t("helpers.label.english_language_provider.b2_level_requirement") }
        row.with_value { english_language_provider.b2_level_requirement }
      end

      summary_list.with_row do |row|
        row.with_key { t("helpers.label.english_language_provider.reference_name") }
        row.with_value { english_language_provider.reference_name }
      end

      summary_list.with_row do |row|
        row.with_key { t("helpers.label.english_language_provider.url") }
        row.with_value { english_language_provider.url }
      end

      summary_list.with_row do |row|
        row.with_key { t("helpers.label.english_language_provider.reference_hint") }
        row.with_value { english_language_provider.reference_hint }
      end

      summary_list.with_row do |row|
        row.with_key { t("helpers.label.english_language_provider.accepted_tests") }
        row.with_value { english_language_provider.accepted_tests }
      end

      summary_list.with_row do |row|
        row.with_key { t("helpers.label.english_language_provider.check_url") }
        row.with_value { english_language_provider.check_url }
      end

      summary_list.with_row do |row|
        row.with_key { t("helpers.label.english_language_provider.other_information") }
        row.with_value { english_language_provider.other_information.html_safe }
      end
    end %>
  </article>
<% end %>
