<% content_for :page_title, t(".heading") %>
<% content_for :back_link_url, back_history_path(default: edit_assessor_interface_application_form_assessment_assessment_recommendation_award_path) %>

<h1 class="govuk-heading-xl"><%= t(".heading") %></h1>

<p class="govuk-body">Before you award QTS, review the applicant’s age range and subjects information below.</p>

<%= govuk_summary_card(title: "Initial assessment review") do |card|
  card.with_summary_list do |summary_list|
    summary_list.with_row do |row|
      row.with_key { "Minimum age" }
      row.with_value { @assessment.age_range_min.to_s }
      row.with_action(
        href: [:age_range_subjects, :edit, :assessor_interface, @application_form, @assessment, :assessment_recommendation_award],
        visually_hidden_text: "minimum age"
      )
    end

    summary_list.with_row do |row|
      row.with_key { "Maximum age" }
      row.with_value { @assessment.age_range_max.to_s }
      row.with_action(
        href: [:age_range_subjects, :edit, :assessor_interface, @application_form, @assessment, :assessment_recommendation_award],
        visually_hidden_text: "maximum age"
      )
    end

    @assessment.subjects.each do |subject|
      summary_list.with_row do |row|
        row.with_key { "Subject" }
        row.with_value { t("subjects.#{subject}") }
        row.with_action(
          href: [:age_range_subjects, :edit, :assessor_interface, @application_form, @assessment, :assessment_recommendation_award],
          visually_hidden_text: "subject"
        )
      end
    end
  end
end %>

<%= form_with url: [:confirm, :assessor_interface, @application_form, @assessment, :assessment_recommendation_award] do |f| %>
  <% render "shared/assessor_interface/continue_cancel_button", f: %>
<% end %>
