<span class="govuk-caption-l"><%= I18n.t("application_form.tasks.sections.qualifications") %></span>
<h1 class="govuk-heading-l"><%= I18n.t("application_form.qualifications.heading.title.#{qualification.locale_key}") %></h1>
<p class="govuk-body-l"><%= I18n.t("application_form.qualifications.heading.description.#{qualification.locale_key}") %></p>
