<section id="app-personas-ineligibles" class="app-personas">
  <h2 class="govuk-heading-l">Ineligible check</h2>
  <p class="govuk-body">
    <%= govuk_button_to "Sign&nbsp;in".html_safe, ineligible_sign_in_personas_path %>
  </p>
</section>
