<% content_for :page_title, "Personas" %>

<h1 class="govuk-heading-xl">Personas</h1>

<section id="app-personas-staff" class="app-personas">
  <h2 class="govuk-heading-l">Staff</h2>

  <% if @staff.empty? %>
    <p class="govuk-body">No staff personas.</p>
  <% else %>
    <%= govuk_table do |table|
      table.with_colgroup do |colgroup|
        colgroup.with_col(span: 1)
        colgroup.with_col(span: 6)
        colgroup.with_col(span: 1)
      end

      table.with_head do |head|
        head.with_row do |row|
          row.with_cell(scope: false)
          row.with_cell(header: true, text: "Permissions", colspan: 5)
          row.with_cell(scope: false)
        end

        head.with_row do |row|
          row.with_cell(header: true, text: "Email")
          row.with_cell(header: true, text: "Award/decline")
          row.with_cell(header: true, text: "Change names")
          row.with_cell(header: true, text: "Change work history")
          row.with_cell(header: true, text: "Reverse decisions")
          row.with_cell(header: true, text: "Support console")
          row.with_cell(header: true, text: "Withdraw")
          row.with_cell(header: true, text: "Actions", numeric: true)
        end
      end

      table.with_body do |body|
        @staff.each do |staff|
          body.with_row do |row|
            row.with_cell(text: staff.email)

            row.with_cell { govuk_boolean_tag(staff.award_decline_permission) }
            row.with_cell { govuk_boolean_tag(staff.change_name_permission) }
            row.with_cell { govuk_boolean_tag(staff.change_work_history_permission) }
            row.with_cell { govuk_boolean_tag(staff.reverse_decision_permission) }
            row.with_cell { govuk_boolean_tag(staff.support_console_permission) }
            row.with_cell { govuk_boolean_tag(staff.withdraw_permission) }

            row.with_cell(numeric: true) do
              govuk_button_to "Sign&nbsp;in".html_safe, staff_sign_in_persona_path(staff)
            end
          end
        end
      end
    end %>
  <% end %>
</section>

<section id="app-personas-eligibles" class="app-personas">
  <h2 class="govuk-heading-l">Eligible checks</h2>

  <% if @eligible_personas.empty? %>
    <p class="govuk-body">No eligible personas.</p>
  <% else %>
    <%= govuk_table do |table|
      table.with_head do |head|
        head.with_row do |row|
          row.with_cell(header: true, text: "Bucket")
          row.with_cell(header: true, text: "Country/Region")
          row.with_cell(header: true, text: "Status check")
          row.with_cell(header: true, text: "Sanction check")
          row.with_cell(header: true, text: "Skips work history")
          row.with_cell(header: true, text: "Teaching authority provides written statement")
          row.with_cell(header: true, text: "Reduced evidence accepted")
          row.with_cell(header: true, text: "Actions", numeric: true)
        end
      end

      table.with_body do |body|
        @eligible_personas.each do |persona|
          body.with_row do |row|
            row.with_cell do
              bucket = region_bucket_for_persona(persona)
              govuk_tag(text: bucket) if bucket
            end

            row.with_cell { CountryName.from_region(persona[:region]) }

            row.with_cell { persona_check_tag(persona[:status_check]) }
            row.with_cell { persona_check_tag(persona[:sanction_check]) }

            row.with_cell { govuk_boolean_tag(persona[:application_form_skip_work_history]) }
            row.with_cell { govuk_boolean_tag(persona[:teaching_authority_provides_written_statement]) }
            row.with_cell { govuk_boolean_tag(persona[:reduced_evidence_accepted]) }

            row.with_cell(numeric: true) do
              govuk_button_to "Sign&nbsp;in".html_safe, eligible_sign_in_persona_path(persona[:region])
            end
          end
        end
      end
    end %>
  <% end %>
</section>

<section id="app-personas-teachers" class="app-personas">
  <h2 class="govuk-heading-l">Teachers</h2>

  <% if @teacher_personas.empty? %>
    <p class="govuk-body">No teacher personas.</p>
  <% else %>
    <%= govuk_table do |table|
      table.with_head do |head|
        head.with_row do |row|
          row.with_cell(header: true, text: "Bucket")
          row.with_cell(header: true, text: "Country")
          row.with_cell(header: true, text: "Status check")
          row.with_cell(header: true, text: "Sanction check")
          row.with_cell(header: true, text: "Status")
          row.with_cell(header: true, text: "Email address")
          row.with_cell(header: true, text: "Actions", numeric: true)
        end
      end

      table.with_body do |body|
        @teacher_personas.each_with_index do |persona, index|
          body.with_row do |row|
            row.with_cell do
              bucket = region_bucket_for_persona(persona)
              govuk_tag(text: bucket) if bucket
            end
            row.with_cell { CountryName.from_country(persona[:application_form].country) }

            row.with_cell { persona_check_tag(persona[:status_check]) }
            row.with_cell { persona_check_tag(persona[:sanction_check]) }
            row.with_cell do
              render(StatusTag::Component.new(status: persona[:status]))
            end
            row.with_cell { persona[:teacher].email }

            row.with_cell(numeric: true) do
              govuk_button_to "Sign&nbsp;in".html_safe, teacher_sign_in_persona_path(persona[:teacher])
            end
          end
        end
      end
    end %>
  <% end %>
</section>

<section id="app-personas-references" class="app-personas">
  <h2 class="govuk-heading-l">References</h2>

  <% if @reference_requests.empty? %>
    <p class="govuk-body">No reference requests.</p>
  <% else %>
    <%= govuk_table do |table|
      table.with_head do |head|
        head.with_row do |row|
          row.with_cell(header: true, text: "Teacher email")
          row.with_cell(header: true, text: "State")
          row.with_cell(header: true, text: "Actions", numeric: true)
        end
      end

      table.with_body do |body|
        @reference_requests.each do |reference_request|
          body.with_row do |row|
            row.with_cell(text: reference_request.application_form.teacher.email)

            row.with_cell(width: "one-third") do
              render(StatusTag::Component.new(status: reference_request.state))
            end

            row.with_cell(numeric: true) do
              govuk_button_link_to "Sign&nbsp;in".html_safe, teacher_interface_reference_request_path(slug: reference_request.slug)
            end
          end
        end
      end
    end %>
  <% end %>
</section>
