<% content_for :page_title, "Personas" %>

<h1 class="govuk-heading-xl">Personas</h1>

<section id="app-personas-staff" class="app-personas">
  <h2 class="govuk-heading-l">Staff</h2>

  <% if @staff.empty? %>
    <p class="govuk-body">No staff personas.</p>
  <% else %>
    <%= govuk_table do |table|
      table.head do |head|
        head.row do |row|
          row.cell(header: true, text: "Email")
          row.cell(header: true, text: "Award decline permission")
          row.cell(header: true, text: "Support console permission")
          row.cell(header: true, text: "Actions", numeric: true)
        end
      end

      table.body do |body|
        @staff.each do |staff|
          body.row do |row|
            row.cell(text: staff.email)

            row.cell { persona_yes_no_tag(staff.award_decline_permission?) }

            row.cell { persona_yes_no_tag(staff.support_console_permission?) }

            row.cell(numeric: true) do
              govuk_button_to "Sign&nbsp;in".html_safe, staff_sign_in_persona_path(staff)
            end
          end
        end
      end
    end %>
  <% end %>
</section>

<section id="app-personas-teachers" class="app-personas">
  <h2 class="govuk-heading-l">Teachers</h2>

  <% if @teacher_personas.empty? %>
    <p class="govuk-body">No teacher personas.</p>
  <% else %>
    <%= govuk_table do |table|
      table.head do |head|
        head.row do |row|
          row.cell(header: true, text: "Bucket")
          row.cell(header: true, text: "Country")
          row.cell(header: true, text: "Status check")
          row.cell(header: true, text: "Sanction check")
          row.cell(header: true, text: "Status")
          row.cell(header: true, text: "New regulations")
          row.cell(header: true, text: "Email address")
          row.cell(header: true, text: "Actions", numeric: true)
        end
      end

      table.body do |body|
        @teacher_personas.each_with_index do |persona, index|
          body.row do |row|
            row.cell do
              bucket = region_bucket_for_teacher_persona(persona)
              govuk_tag(text: bucket) if bucket
            end
            row.cell { CountryName.from_country(persona[:teacher].application_form.country) }

            row.cell { persona_check_tag(persona[:status_check]) }
            row.cell { persona_check_tag(persona[:sanction_check]) }
            row.cell do
              render(StatusTag::Component.new(
                key: "teacher-persona-#{index}",
                status: persona[:status],
              ))
            end
            row.cell { persona_yes_no_tag(persona[:created_under_new_regulations]) }
            row.cell { persona[:teacher].email }

            row.cell(numeric: true) do
              govuk_button_to "Sign&nbsp;in".html_safe, teacher_sign_in_persona_path(persona[:teacher])
            end
          end
        end
      end
    end %>
  <% end %>
</section>

<section id="app-personas-references" class="app-personas">
  <h2 class="govuk-heading-l">References</h2>

  <% if @reference_requests.empty? %>
    <p class="govuk-body">No reference requests.</p>
  <% else %>
    <%= govuk_table do |table|
      table.head do |head|
        head.row do |row|
          row.cell(header: true, text: "Teacher email")
          row.cell(header: true, text: "State")
          row.cell(header: true, text: "Actions", numeric: true)
        end
      end

      table.body do |body|
        @reference_requests.each do |reference_request|
          body.row do |row|
            row.cell(text: reference_request.application_form.teacher.email)

            row.cell(width: "one-third") do
              render(StatusTag::Component.new(
                key: "reference-request-#{reference_request.id}",
                status: reference_request.state,
              ))
            end

            row.cell(numeric: true) do
              govuk_button_link_to "Sign&nbsp;in".html_safe, teacher_interface_reference_request_path(slug: reference_request.slug)
            end
          end
        end
      end
    end %>
  <% end %>
</section>
