<% content_for :page_title, "Personas" %>

<h1 class="govuk-heading-xl">Personas</h1>

<%= render "staff" %>
<%= render "eligible_checks" %>
<%= render "ineligible_checks" %>
<%= render "teachers" %>
