<% content_for :page_title, "There was a problem signing in" %>

<h1 class="govuk-heading-l">There was a problem signing in</h1>

<% case @error %>
<% when "expired" %>
  <p class="govuk-body"><%= t(".expired") %></p>
<% when "exhausted" %>
  <p class="govuk-body"><%= t(".exhausted") %></p>
<% end %>

<p class="govuk-body">
  <%= govuk_link_to "Continue", create_or_new_teacher_session_path %>
</p>
