<% content_for :page_title, "Check your email" %>

<h1 class="govuk-heading-xl">Check your email</h1>

<p class="govuk-body-m">
  <% if @email.present? %>
    You asked us to send a sign in link to <%= @email %>.
  <% else %>
    You asked us to send a sign in link to your email.
  <% end %>
</p>

<p class="govuk-body">
  Follow the link in the email to confirm your email address and sign in.
</p>

<p class="govuk-body">
  If it does not arrive in 5 minutes, check your junk folder or <%= govuk_link_to 'try again', new_teacher_session_path %>.
</p>

<h2 class="govuk-heading-m">Didn’t receive an email?</h2>

<p class="govuk-body">
  If you’ve not <%= govuk_link_to 'checked whether you’re eligible to apply', eligibility_interface_countries_path %> yet, you’ll need to do that before you sign in for the first time.
</p>
