<% content_for :page_title, "Check your email" %>

<h1 class="govuk-heading-xl">Check your email</h1>

<p class="govuk-body-m">
  <% if @email.present? %>
    You asked us to send a link to <%= @email %>. If we have a record of that email address, we’ll send you a link to sign in.
  <% else %>
    You should have received a link by email. Follow the link to confirm your email address.
  <% end %>
</p>

<p class="govuk-body">
  If it does not arrive in 5 minutes, check your junk folder or <%= govuk_link_to 'try again', new_teacher_session_path %>.
</p>
