<% content_for :page_title, "You have been signed out" %>

<h1 class="govuk-heading-xl">You have been signed out</h1>

<p class="govuk-body-m">You've been signed out of the Apply for qualified teacher status in England service.</p>

<p class="govuk-body-m">All changes have been saved.</p>

<p class="govuk-body-m">You can close this page or <%= govuk_link_to "sign back in", new_teacher_session_url %>.</p>
