<% content_for :page_title, "We’ve saved your in-progress QTS application" %>

<h1 class="govuk-heading-xl">We’ve saved your in-progress QTS application</h1>

<p class="govuk-body-m">
  We’ve signed you out of the Apply for qualified teacher status (QTS) service.
</p>

<p class="govuk-body">
  We’ve saved the information you’ve added to your application so far.
</p>

<p class="govuk-body">
  We’ll keep your in-progress application open for <%= @duration %> from the date you started it.
  If you do not complete it within this time, you’ll need to make a new application.
</p>

<h2 class="govuk-heading-m">Continuing your application</h2>

<p class="govuk-body">
  You can get back to your application (and see how long you have left to complete it) using the link below.
  The link will take you to the beginning of the service, but you can use your email address to sign in and continue your application.
</p>

<p class="govuk-body"><%= govuk_link_to new_teacher_session_url, new_teacher_session_url %></p>

<p class="govuk-body">
  If you do not continue your application within <%= @duration %> you’ll need to start a new application.
</p>
