<% content_for :page_title, "We’ve saved your QTS application progress" %>

<h1 class="govuk-heading-xl">We’ve saved your QTS application progress</h1>

<p class="govuk-body-m">
  You’ve been signed out of the Apply for qualified teacher status in England service.
  All the information you’ve added to your application so far has been saved.
</p>

<p class="govuk-body">
  We’ll keep your application open for 6 months from the date you started it.
  If you do not submit it within this time, you’ll need to make a new application.
</p>

<h2 class="govuk-heading-m">Continuing your application</h2>

<p class="govuk-body">
  Use your email address to <%= govuk_link_to "sign in", new_teacher_session_url %> and complete your application.
</p>
