<% content_for :page_title, "We’ve saved your in-progress QTS application" %>

<h1 class="govuk-heading-xl">We’ve saved your in-progress QTS application</h1>

<p class="govuk-body-m">
  We’ve signed you out of the Apply for qualified teacher status (QTS) service.
</p>

<p class="govuk-body">
  We’ve saved the information you’ve added to your application so far.
</p>

<p class="govuk-body">
  We’ll keep your in-progress application open for 60 days. During that time you can continue your application using the link below.
</p>

<p class="govuk-body">
  The link will take you to the beginning of the service, but you can use your email address to sign in and continue your application.
</p>

<p class="govuk-body">
  <%= govuk_link_to "apply-for-qts-in-england.education.gov.uk", "https://apply-for-qts-in-england.education.gov.uk" %>
</p>

<p class="govuk-body">
  If you do not continue your application within 60 days you’ll need to start a new application.
</p>
