.app-email-preview__header {
  background-color: govuk-colour("black");
  color: govuk-colour("white");
  padding: govuk-spacing(2);
}

.app-email-preview__header__logo {
  font-size: 28px;
  font-weight: bold;
  width: 580px;
  margin-left: auto;
  margin-right: auto;
}

.app-email-preview__content {
  border-top: 10px govuk-colour("blue") solid;
  width: 580px;
  margin-left: auto;
  margin-right: auto;
}
