$app-colour-development: govuk-colour("dark-grey", $legacy: "grey-1");
$app-colour-test: govuk-colour("orange");
$app-colour-preprod: govuk-colour("bright-purple");

.app-header--dev .govuk-header__container {
  border-bottom-color: $app-colour-development;
}

.app-environment-tag--dev {
  background-color: $app-colour-development;
}

.app-header--test .govuk-header__container {
  border-bottom-color: $app-colour-test;
}

.app-environment-tag--test {
  background-color: $app-colour-test;
}

.app-header--preprod .govuk-header__container {
  border-bottom-color: $app-colour-preprod;
}

.app-environment-tag--preprod {
  background-color: $app-colour-preprod;
}
