$app-colour-development: govuk-colour("dark-grey");
$app-colour-test: govuk-colour("orange");

.app-header--dev .govuk-header__container,
.app-header--development .govuk-header__container {
  border-bottom-color: $app-colour-development;
}

.app-environment-tag--dev,
.app-environment-tag--development {
  background-color: $app-colour-development;
}

.app-header--test .govuk-header__container {
  border-bottom-color: $app-colour-test;
}

.app-environment-tag--test {
  background-color: $app-colour-test;
}
