$app-colour-development: govuk-colour("dark-grey", $legacy: "grey-1");

.app-header--development .govuk-header__container {
  border-bottom-color: $app-colour-development;
}

.app-environment-tag--development {
  background-color: $app-colour-development;
}
