$govuk-global-styles: true;
$govuk-new-link-styles: true;
$govuk-assets-path: "/";

@import "govuk-frontend/govuk/all";
@import "location-autocomplete.min";

ul.autocomplete__menu {
  li {
    font-family: $govuk-font-family;
  }
}
