$govuk-global-styles: true;
$govuk-new-link-styles: true;
$govuk-assets-path: "/";
$moj-images-path: "/";

@import "govuk-frontend/govuk/all";
@import "@ministryofjustice/frontend/moj/components/timeline/timeline";
@import "dfe-autocomplete/src/dfe-autocomplete";
@import "location-autocomplete.min";

@import "_application_forms";
@import "_checkbox_search_filter";
@import "_description_list";
@import "_email_preview";
@import "_environments";
@import "_search_results";
@import "_support";
@import "_task_list";

ul.autocomplete__menu {
  li {
    font-family: $govuk-font-family;
  }
}

.app-\!-border-top-1 {
  border-top: 1px solid $govuk-border-colour;
}

.app-\!-colour--link {
  color: $govuk-link-colour;
}

.app-performance-table {
  .govuk-table__header:nth-child(n + 2),
  .govuk-table__cell:nth-child(n + 2) {
    text-align: right;
  }
}

.app-teaching-authority-address {
  white-space: pre-line;
}

.app-personas .govuk-button {
  margin-bottom: 0;
}

.app-inline-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-highlight {
  border-bottom: 3px solid #ffbf47;
  margin-right: 1px;
  background-color: #fff2d3;
  padding: 2px 0 0;
  font-style: normal;
}

.govuk-footer__navigation {
  margin-left: 0px;
  margin-right: 0px;
}

.govuk-inset-text .govuk-details__text {
  padding-left: 0;
  border-left: none;
  padding-bottom: 0;
}

.govuk-inset-text .govuk-details {
  margin-bottom: 0;
}

.app-table__center_right {
  text-align: right;
  vertical-align: middle;
}
