$govuk-global-styles: true;
$govuk-new-link-styles: true;
$govuk-assets-path: "/";
$moj-images-path: "/";

@import "govuk-frontend/dist/govuk/index";
@import "@ministryofjustice/frontend/moj/components/ticket-panel/ticket-panel";
@import "@ministryofjustice/frontend/moj/components/timeline/timeline";
@import "@ministryofjustice/frontend/moj/components/interruption-card/interruption-card";
@import "dfe-autocomplete/src/dfe-autocomplete";
@import "location-autocomplete.min";

@import "_alerts";
@import "_application_forms";
@import "_checkbox_search_filter";
@import "_description_list";
@import "_environments";
@import "_search_results";
@import "_support";

ul.autocomplete__menu {
  li {
    font-family: $govuk-font-family;
  }
}

.app-\!-border-top-1 {
  border-top: 1px solid $govuk-border-colour;
}

.app-\!-colour--link {
  color: $govuk-link-colour;
}

.app-teaching-authority-address {
  white-space: pre-line;
}

.app-personas .govuk-button {
  margin-bottom: 0;
}

.app-inline-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-inline-content {
  display: flex;
}

.app-inline-content__justify-end {
  justify-content: end;
}

.app-inline-content__items-baseline {
  align-items: baseline;
}

.app-highlight {
  border-bottom: 3px solid #ffbf47;
  margin-right: 1px;
  background-color: #fff2d3;
  padding: 2px 0 0;
  font-style: normal;
}

.app-summary-list .govuk-summary-list__actions {
  vertical-align: middle;
}

.govuk-footer__navigation {
  margin-left: 0px;
  margin-right: 0px;
}

.govuk-inset-text .govuk-details__text {
  padding-left: 0;
  border-left: none;
  padding-bottom: 0;
}

.govuk-inset-text .govuk-details {
  margin-bottom: 0;
}

.govuk-tag {
  max-width: 230px;
}

.app-table__center_right {
  text-align: right;
  vertical-align: middle;
}

.app-background-inset-text {
  background-color: #f3f2f1;
}

.app-float-right {
  float: right !important;
}

.app-white-space-nowrap {
  white-space: nowrap;
}

.govuk-header__link .govuk-header__logotype {
  height: 30px;
}

.govuk-header__link:focus .govuk-header__logotype {
  content: url(/images/dfe-logo-black.png);
  height: 30px;
}
