<% content_for :page_title, t(".title") %>
<% content_for :back_link_url, teacher_interface_application_form_path %>

<%= govuk_panel(title_text: t(".title")) %>

<p class="govuk-body">We have received your request for a decision review. We have sent you a confirmation email.</p>

<h2 class="govuk-heading-m">What happens next</h2>

<p class="govuk-body">
  Your request and evidence will be reviewed by a senior Professional Recognition Manager within 28 working days. We will email you to confirm the outcome of your request.
</p>