<% content_for :page_title, "Check your decision review evidence" %>
<% content_for :back_link_url, back_history_path(origin: true, default: teacher_interface_application_form_path) %>


<%= form_with url: [:confirm ,:teacher_interface, :application_form, :decision_review_requests], method: :post do |f| %>
  <span class="govuk-caption-l">Your application</span>
  <h1 class="govuk-heading-l">Check your decision review evidence</h1>

  <%= render(CheckYourAnswersSummary::Component.new(
    id: "decision-review-request",
    model: @decision_review_request,
    title: "Decision review request",
    fields: {
      comment: {
        title: "Reasoning for a decision review",
        href: edit_teacher_interface_application_form_decision_review_request_path(@decision_review_request)
      },
      decision_review_evidence_document: {
        title: "Supporting evidence",
        href: [:teacher_interface, :application_form, @decision_review_request.decision_review_evidence_document]
      },
    },
    changeable: true
  )) %>

  <h2 class="govuk-heading-m">Submitting your decision review</h2>
  <p class="govuk-body">By selecting the ‘Submit decision review’ you confirm that, to the best of your knowledge, the details you’ve provided are correct.</p>
  <p class="govuk-body">You will not be able to change your request, add new documents or delete anything once you submit it.</p>
  <%= f.govuk_submit "Submit decision review" %>
<% end %>
