<div class="app-email-preview govuk-body">
  <div class="app-email-preview__header">
    <div class="app-email-preview__header__logo">
      GOV.UK
    </div>
  </div>

  <div class="app-email-preview__content">
    <%= preview.html_safe %>
  </div>
</div>