name: Synchronise configuration

on: workflow_dispatch

jobs:
  export:
    name: Export (production)
    runs-on: ubuntu-latest

    environment: production
    permissions:
      id-token: write

    outputs:
      output1: ${{ steps.step1.outputs.test }}
      output2: ${{ steps.step2.outputs.test }}

    steps:
      - uses: actions/checkout@v6

      - uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - uses: ./.github/actions/set-kubernetes-credentials
        with:
          environment: production
          azure-client-id: ${{ secrets.AZURE_CLIENT_ID }}
          azure-tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          azure-subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Get pod name
        id: pod-name
        run: |
          echo "value=$(kubectl get pod \
            -n tra-production \
            -l app=apply-for-qts-production-web \
            -o jsonpath="{.items[0].metadata.name}")" >> $GITHUB_OUTPUT

      - name: Export configuration data
        run: |
          kubectl exec \
            -n tra-production \
            ${{ steps.pod-name.outputs.value }} \
            -- sh -c "cd /app && /usr/local/bin/bundle exec rails configuration_sync:export[data.json]"

      - name: Copy configuration data
        run: |
          kubectl cp \
            -n tra-production \
            ${{ steps.pod-name.outputs.value }}:data.json \
            data.json

      - name: Upload configuration data
        uses: actions/upload-artifact@v6
        with:
          name: data
          path: data.json
          retention-days: 3

  import:
    name: Import
    runs-on: ubuntu-latest
    needs: [export]

    strategy:
      matrix:
        environment: [development, test]

    environment: ${{ matrix.environment }}
    permissions:
      id-token: write

    steps:
      - uses: actions/checkout@v6

      - uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - uses: ./.github/actions/set-kubernetes-credentials
        with:
          environment: ${{ matrix.environment }}
          azure-client-id: ${{ secrets.AZURE_CLIENT_ID }}
          azure-tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          azure-subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Download configuration data
        uses: actions/download-artifact@v6
        with:
          name: data

      - name: Get pod name
        id: pod-name
        run: |
          echo "value=$(kubectl get pod \
            -n tra-${{ matrix.environment }} \
            -l app=apply-for-qts-${{ matrix.environment }}-web \
            -o jsonpath="{.items[0].metadata.name}")" >> $GITHUB_OUTPUT

      - name: Copy configuration data
        run: |
          kubectl cp \
            -n tra-${{ matrix.environment }} \
            data.json \
            ${{ steps.pod-name.outputs.value }}:data.json

      - name: Import configuration data
        run: |
          kubectl exec \
            -n tra-${{ matrix.environment }} \
            ${{ steps.pod-name.outputs.value }} \
            -- sh -c "cd /app && /usr/local/bin/bundle exec rails configuration_sync:import[data.json]"
