<% content_for :content do %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-from-desktop">
      <%= yield %>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>
